.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 21px;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.watch {
  cursor: pointer;
}

.watch strong {
}

.more {
  display: flex;
  align-items: center;
  gap: 5px;
}
