.App {
	--header_height: 60px;

	margin: 50px auto;

	font-family: 'Montserrat';
	font-style: normal;
	max-width: 1170px;
	display: flex;
	flex-direction: column;
	padding: 0 15px;
}

.hw {
	padding: 32px 0;
}

.hwTitle {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	padding: 20px 0;

	border-bottom: 1px solid #d9d9d9;
}
