.App {
	--header_height: 60px;
	margin-top: 131px;
	margin-bottom: 216px;
	padding: 0 70px;
	font-family: 'Montserrat';
	font-style: normal;
}

.hw {
	padding: 32px 0;
}

.hwTitle {
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	padding: 20px 0;

	border-bottom: 1px solid #d9d9d9;
}
